# Team Asterix Portal Firebase Web Configuration
VITE_FIREBASE_API_KEY=AIzaSyA4mx9u8dMMuElPNR5GpjrhaHH2aShNzGs
VITE_FIREBASE_AUTH_DOMAIN=team-asterix-website.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=team-asterix-website
VITE_FIREBASE_STORAGE_BUCKET=team-asterix-website.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=108263527930
VITE_FIREBASE_APP_ID=1:108263527930:web:12c0c76ce38afc88d08043

# Optional: React Bits Pro License Key
REACTBITS_LICENSE_KEY=your-license-key-here
